body,
a,
p,
h1,
h2,
h3,
h4,
ul {
  font-family: Open Sans, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
a,
a:active {
  text-decoration: none;
  text-transform: uppercase;
}
li {
  list-style-type: none;
}
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
} */

/* Header (mobile) */
.header {
  position: relative;
  background-color: #000000;
  background-image: url(../img/football_767.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  background-color: #0a0e34;
}
.header-container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 33px;
  padding-bottom: 80px;
  position: relative;
  z-index: 2;
}
.logo {
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 130px;
}
.logo-title {
  fill: #fff;
}
.header-title {
  margin-bottom: 80px;
  text-transform: uppercase;
  color: #fff;
}
.title {
  font-size: 28px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
}
.header-title-p2 {
  margin-left: 45px;
  margin-top: 20px;
}
.store-buttons {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.store-btn-container {
  width: 280px;
  background-color: #5e42b0;
  border-radius: 18px;
}
.store-btn-container:first-child {
  margin-bottom: 15px;
}
.store-button {
  padding-left: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}
.store-button-ios {
  width: 20px;
  fill: #fff;
  display: block;
  margin-right: 8px;
}
.store-button-google {
  width: 22px;
  fill: #fff;
  display: block;
  margin-right: 8px;
}
.store-button__text {
  width: 83px;
  color: #fff;
  font-size: 8px;
  display: block;
}
.store-button__text span {
  font-weight: 700;
  display: block;
}

/* Main content (mobile) */

/* Section Athlets (mobile) */
.athlets-title-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 240px;
  position: relative;
}
.athlets-title {
  font-size: 50px;
  font-weight: 700;
  color: #e7e7e7;
  text-transform: uppercase;
}
.athlets-img {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translate(calc(-192px / 2));
}
.athlets-post {
  padding: 60px 20px 50px;
}
.athlets-post:nth-child(1) {
  padding-top: 80px;
  background-color: #fafafa;
}
.athlets-post:nth-child(2) {
  background-color: #f5f4f9;
}
.athlets-post:nth-child(3) {
  background-color: #5e42b0;
}
.post-title-container {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.number-post {
  font-size: 14px;
  font-weight: 700;
  margin-right: 7px;
  display: block;
}
.number-post::after {
  content: "";
  width: 17px;
  height: 3px;
  background-color: #5e42b0;
  border-radius: 2px;
  display: block;
}
.number-post-color::after {
  background-color: #fff;
}
.post-title {
  font-size: 23px;
  font-weight: 700;
  color: #c1c1c1;
  text-transform: uppercase;
}
.post-text {
  font-size: 15px;
}
.post-text-color {
  color: #fff;
}

/* Section Players (mobile) */
.players-title-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 230px;
  position: relative;
}
.players-title {
  font-size: 50px;
  font-weight: 700;
  color: #e7e7e7;
  text-transform: uppercase;
}
.players-img {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(calc(-302px / 2));
}
.players-post {
  padding: 60px 20px 50px;
}
.players-post:nth-child(1) {
  padding-top: 80px;
  background-color: #fafafa;
}
.players-post:nth-child(2) {
  background-color: #f5f4f9;
}
.players-post:nth-child(3) {
  background-color: #090c35;
}
.purple-number {
  color: #5e42b0;
}

/* Section Be active (mobile) */
.be-active-img-container {
  margin-bottom: 20px;
  position: relative;
}
.be-active-img {
  width: 100%;
}
.number-in-rectangle {
  width: 70px;
  height: 70px;
  display: flex;
  background-color: #5e42b0;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -10px;
  left: 20px;
}
.number-in-rectangle-text {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
.number-in-rectangle-text::after {
  content: "";
  width: 15px;
  height: 3px;
  background-color: #8f7bc8;
  border-radius: 2px;
  display: block;
}
.be-active-post-container {
  padding-left: 20px;
  padding-right: 20px;
}
.be-active-post-title {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e7e7e7;
}
.be-active-post-text {
  font-size: 16px;
  margin-bottom: 75px;
}

/* Section Find contact (mobile) */
.find-contact-img-container {
  margin-bottom: 20px;
  position: relative;
}
.find-contact-img {
  width: 100%;
}
.find-contact-post-container {
  padding-left: 20px;
  padding-right: 20px;
}
.find-contact-post-title {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e7e7e7;
}
.find-contact-post-text {
  font-size: 16px;
  margin-bottom: 75px;
}

/* Section Work it (mobile) */
.work-it-img-container {
  margin-bottom: 20px;
  position: relative;
}
.work-it-img {
  width: 100%;
}
.work-it-post-container {
  padding-left: 20px;
  padding-right: 20px;
}
.work-it-post-title {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e7e7e7;
}
.work-it-post-text {
  font-size: 16px;
  margin-bottom: 75px;
}

/* Footer (mobile) */
.footer {
  position: relative;
  background-color: #000000;
  background-image: url(../img/game_767.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  background-color: #0a0e34;
}
.footer-container {
  width: 280px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 10px;
  position: relative;
  z-index: 2;
}
.logo-btn {
  width: 72px;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background: linear-gradient(#7756d7, #50379b);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-btn-svg {
  width: 60px;
  fill: #fff;
  stroke-width: 5;
  stroke: #4c28b1;
}
.footer-title {
  text-align: center;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.footer-title-1 {
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}
.footer-title-2 {
  font-size: 14px;
  color: #9b8ec1;
}
.footer-container .store-buttons {
  margin-bottom: 82px;
}
.footer-container .logo {
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 641px) and (max-width: 960px) {
  /* Header (tablet) */
  .header {
    background-image: url(../img/football_1280.jpg);
  }
  .header-container {
    width: 703px;
    padding-top: 38px;
    padding-bottom: 90px;
  }
  .logo {
    width: 205px;
    margin-bottom: 170px;
  }
  .header-title {
    margin-bottom: 300px;
    margin-left: 55px;
  }
  .title {
    font-size: 64px;
    line-height: 1.2;
  }
  .header-title-p2 {
    margin-left: 107px;
    margin-top: 0;
  }
  .store-buttons {
    flex-direction: row;
    justify-content: space-between;
    width: 653px;
  }
  .store-btn-container {
    width: 310px;
    border-radius: 40px;
  }
  .store-btn-container:first-child {
    margin-bottom: 0;
  }
  .store-button {
    padding-left: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .store-button-ios {
    width: 36px;
    margin-right: 27px;
  }
  .store-button-google {
    width: 41px;
    margin-right: 28px;
  }
  .store-button__text {
    width: 145px;
    font-size: 14px;
    font-weight: 300;
  }

  /* Main content (tablet) */

  /* Section Athlets (tablet) */
  .athlets-title-container {
    margin-bottom: 0;
    padding-left: 272px;
    padding-top: 56px;
  }
  .athlets-title {
    font-size: 80px;
  }
  .athlets-img {
    top: 93px;
    left: -88px;
  }
  .athlets-post {
    padding: 35px 33px 35px 292px;
  }
  .athlets-post:nth-child(1) {
    padding-top: 35px;
    background-color: #fff;
  }
  .number-post {
    font-size: 18px;
    margin-right: 7px;
  }
  .number-post::after {
    width: 19px;
    height: 5px;
  }
  .post-title {
    font-size: 32px;
  }
  .post-text {
    font-size: 16px;
  }

  /* Section Players (tablet) */
  .players-title-container {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 33px;
    padding-top: 56px;
  }
  .players-title {
    font-size: 80px;
  }
  .players-img {
    top: 30px;
    right: 0;
    left: initial;
    transform: initial;
  }
  .players-post {
    padding: 35px 300px 35px 33px;
  }
  .players-post:nth-child(1) {
    padding-top: 35px;
    background-color: #fff;
  }

  /* Section Be active (tablet) */
  .be-active-img-container {
    margin-bottom: 60px;
  }
  .number-in-rectangle {
    width: 116px;
    height: 116px;
    display: flex;
    bottom: -36px;
    left: 33px;
  }
  .number-in-rectangle-text {
    font-size: 24px;
  }
  .number-in-rectangle-text::after {
    width: 28px;
    height: 5px;
    border-radius: 3px;
  }
  .be-active-post-container {
    padding-left: 33px;
    padding-right: 33px;
  }
  .be-active-post-title {
    margin-bottom: 20px;
    font-size: 80px;
  }
  .be-active-post-text {
    font-size: 24px;
    margin-bottom: 95px;
  }

  /* Section Find contact (tablet) */
  .find-contact-img-container {
    margin-bottom: 60px;
  }
  .find-contact-post-container {
    padding-left: 33px;
    padding-right: 33px;
  }
  .find-contact-post-title {
    margin-bottom: 20px;
    font-size: 80px;
  }
  .find-contact-post-text {
    font-size: 24px;
    margin-bottom: 95px;
  }

  /* Section Work it (tablet) */
  .work-it-img-container {
    margin-bottom: 60px;
  }
  .work-it-post-container {
    padding-left: 33px;
    padding-right: 33px;
  }
  .work-it-post-title {
    margin-bottom: 20px;
    font-size: 80px;
  }
  .work-it-post-text {
    font-size: 24px;
    margin-bottom: 95px;
  }

  /* Footer (tablet) */
  .footer-container {
    width: 703px;
    padding-top: 125px;
    padding-bottom: 23px;
  }
  .logo-btn {
    width: 130px;
    height: 136px;
    margin-bottom: 55px;
    border-radius: 30px;
  }
  .logo-btn-svg {
    width: 105px;
  }
  .footer-title {
    margin-bottom: 278px;
  }
  .footer-title-1 {
    font-size: 80px;
  }
  .footer-title-2 {
    font-size: 34px;
    color: #a496ca;
  }
  .footer-container .store-buttons {
    margin-bottom: 55px;
  }
}

@media (min-width: 961px) {
  body {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Header (desktop) */
  .header {
    background-image: url(../img/football_1920.jpg);
  }
  .header-container {
    width: 1530px;
    padding-top: 45px;
    padding-bottom: 110px;
  }
  .logo {
    width: 190px;
    margin-bottom: 170px;
  }
  .header-title {
    margin-bottom: 200px;
  }
  .title {
    font-size: 90px;
  }
  .header-title-p2 {
    margin-left: 450px;
    margin-top: 0;
  }
  .store-buttons {
    flex-direction: row;
    justify-content: space-between;
    width: 670px;
  }
  .store-btn-container {
    width: 310px;
    border-radius: 40px;
  }
  .store-btn-container:first-child {
    margin-bottom: 0;
  }
  .store-button {
    padding-left: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .store-button-ios {
    width: 36px;
    margin-right: 27px;
  }
  .store-button-google {
    width: 41px;
    margin-right: 28px;
  }
  .store-button__text {
    width: 145px;
    font-size: 14px;
    font-weight: 300;
  }

  /* Main content (desktop) */

  /* Section Athlets (desktop) */
  .athlets-title-container {
    margin-bottom: 0;
    padding-left: 1008px;
    padding-top: 92px;
  }
  .athlets-title {
    font-size: 80px;
  }
  .athlets-img {
    top: 40px;
    left: 395px;
    transform: initial;
  }
  .athlets-post {
    padding: 50px 196px 50px 1008px;
  }
  .athlets-post:nth-child(1) {
    padding-top: 80px;
    background-color: #fff;
  }
  .number-post {
    font-size: 18px;
    margin-right: 7px;
  }
  .number-post::after {
    width: 19px;
    height: 5px;
    margin-top: 2px;
  }
  .post-title {
    font-size: 36px;
  }
  .post-text {
    font-size: 20px;
  }

  /* Section Players (desktop) */
  .players-title-container {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 192px;
    padding-top: 92px;
  }
  .players-title {
    font-size: 80px;
  }
  .players-img {
    top: 30px;
    right: 0;
    left: 810px;
    transform: initial;
  }
  .players-post {
    padding: 50px 974px 50px 192px;
  }
  .players-post:nth-child(1) {
    padding-top: 80px;
    background-color: #fff;
  }

  /* Section Be active (desktop) */
  .be-active {
    display: flex;
  }
  .be-active-img-container {
    width: 50%;
    margin-bottom: 0;
  }
  .be-active-img {
    width: 100%;
    height: 100%;
  }
  .number-in-rectangle {
    width: 150px;
    height: 140px;
    bottom: 50%;
    left: initial;
    right: -75px;
  }
  .number-in-rectangle-text {
    font-size: 24px;
  }
  .number-in-rectangle-text::after {
    width: 25px;
    height: 5px;
    border-radius: 3px;
  }
  .be-active-post-container {
    width: 50%;
    padding-left: 130px;
    padding-right: 197px;
    padding-top: 200px;
    box-sizing: border-box;
  }
  .be-active-post-title {
    margin-bottom: 85px;
    font-size: 80px;
  }
  .be-active-post-text {
    margin-bottom: 0;
    font-size: 24px;
    padding-bottom: 20px;
  }

  /* Section Find contact (desktop) */
  .find-contact {
    display: flex;
    flex-direction: row-reverse;
  }
  .find-contact-img-container {
    width: 50%;
    margin-bottom: 0;
  }
  .find-contact-img {
    width: 100%;
    height: 100%;
  }
  .number-in-rectangle-revers {
    left: -84px;
    right: initial;
  }
  .find-contact-post-container {
    width: 50%;
    padding-left: 192px;
    padding-right: 120px;
    padding-top: 230px;
    box-sizing: border-box;
  }
  .find-contact-post-title {
    margin-bottom: 50px;
    font-size: 80px;
  }
  .find-contact-post-text {
    margin-bottom: 0;
    font-size: 24px;
    padding-bottom: 20px;
  }

  /* Section Work it (desktop) */
  .work-it {
    display: flex;
  }
  .work-it-img-container {
    width: 50%;
    margin-bottom: 0;
  }
  .work-it-img {
    width: 100%;
    height: 100%;
  }
  .work-it-post-container {
    width: 50%;
    padding-left: 130px;
    padding-right: 197px;
    padding-top: 230px;
    box-sizing: border-box;
  }
  .work-it-post-title {
    margin-bottom: 85px;
    font-size: 80px;
  }
  .work-it-post-text {
    margin-bottom: 0;
    font-size: 24px;
    padding-bottom: 20px;
  }

  /* Footer (desktop) */
  .footer {
    background-image: url(../img/game_1920.jpg);
  }
  .footer-container {
    width: 1530px;
    padding-top: 230px;
    padding-bottom: 50px;
  }
  .desktop-footer-container {
    display: flex;
    width: 870px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    align-items: center;
  }
  .logo-btn {
    width: 130px;
    height: 136px;
    margin-left: 0;
    margin-right: 36px;
    margin-bottom: 0;
    border-radius: 30px;
  }
  .logo-btn-svg {
    width: 105px;
  }
  .footer-title {
    text-align: left;
    margin-bottom: 0;
  }
  .footer-title-1 {
    margin-bottom: 5px;
    font-size: 80px;
    line-height: 1;
  }
  .footer-title-2 {
    font-size: 30px;
    color: #a496ca;
  }
  .footer-container .store-buttons {
    margin-bottom: 260px;
  }
  .footer-container .logo {
    margin: 0 auto;
    padding: 0;
  }
}
